.container-fluid {
    background-color: grey;
    margin-top: 0px;
    width: 100%;
}
body {
    background-color: white;
    position:relative;
    padding-bottom: 25em;
    min-height: 100vh;
}
.card {
    display:inline-flex;
    width: 230px;
    height:200px;
    margin: 15px;
}
.jumbotron{
   background-color: rgb(237, 232, 232);
   width: 95%;
   height:300px;
    margin: 30px;
    margin-top: 7px;
    text-align: left;
    padding: 20px;
}
.navbar-nav{
    opacity: 0.8;
    float:right;
    padding: 0;
    margin:0;
}
.container-xxl {
background-color: grey;
position: absolute;
bottom: 0;
width: 100%;
padding: 1em 0;
}
div {
   width: 100%
}